{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/fc5a762e4d.js" crossorigin="anonymous"></script>
  
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>

    {% include 'navbar.html' %}
    
    {% block body %}
    <!-- {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} -->

    {% block content %}
    {% endblock %}
    
    {% endblock %}
    
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
