{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class = "page-container">
	<div class = "page-content">
		<div class = "form-container">
			<h1 class = "header">{% trans "Login" %}</h1>

			
			<form class="login form-content" method="POST" action="{% url 'account_login' %}">
				{% csrf_token %}
				<div class = "form-group">
					{{form.login}}
				</div>
				<div class = "form-group">
					{{form.password}}
				</div>
				
<!--
				I still do not know what this does, best keep it in case

				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				 -->
				
				<div class = "form-footer">
					<button class="primaryAction" type="submit">{% trans "Login" %}</button>
					<div class = "form-links">
					<a class="button secondaryAction link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
					&#9679
					<a class = "link" href = "{% url 'landing-page' %}">Go back</a>
					</div>
					<div class = "form-group text-center">
						<p>Don't have an account?<br> Create one <a class = "link" href = "{% url 'account_signup' %}">here!</a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
