{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class = "page-container">
    <div class = "page-content">
        <div class = "form-container">
            <h1 class = "header">{% trans "Sign Up" %}</h1>

            <form class="signup form-content" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class = "form-group">
                    {{form.username}}
                </div>

                <div class = "form-group">
                    {{form.email}}
                </div>

                <div class = "form-group">
                    {{form.password1}}
                </div>

                <div class = "form-group">
                    {{form.password2}}
                </div>

                <div class = "form-footer">
                    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                    <div class ="form-links">
                        <a class = "link" href = "{% url 'account_login' %}">Already have an account?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
