{% extends 'base.html' %}

{% block title %} Welcome! {% endblock %}

{% block content %}
	<div class = "page-container">
		<div class = "page-content">
			<main class = "welcome">
				<h1>Social Media App Project Built using Django!</h1>
				<div class  ="btn-flex">
					<button class = "btn">
						<a href = "{% url 'account_login' %}">Login</a>
					</button>
					<button class = "btn">
						<a href = "{% url 'account_signup' %}">Register</a>
					</button>
				</div>
			</main>
		</div>
	</div>
{% endblock %}