{% extends 'base.html' %}

{% block title %} Welcome! {% endblock %}

{% block content %}
	{% include 'navbar.html' %}

	<div class = "page-container">
		<div class = "page-content">
			<main class = "welcome">
				<h1>Social Media App Project </h1>
				<h3>Meet people, be connected. I dunno, touch grass or something</h3>
				<div class  ="btn-flex">

					<button class = "btn">
						<a class = "btn-link" href = "{% url 'account_login' %}">Login</a>
					</button>
					<button class = "btn">
						<a class = "btn-link" href = "{% url 'account_signup' %}">Sign Up</a>
					</button>
				</div>
			</main>
		</div>
	</div>
{% endblock %}