<nav>
	<div class = "nav-container">
		<div>

			<a href = "
			{% if user.is_authenticated %}
				{% url 'home' %}
			{% else %}
				{% url 'landing-page' %}
			{% endif %}
				" class = "nav-link">Home</a>
			
		</div>
		{% if user.is_authenticated %}
		<div class = "search-container"> 
			<input type = "search" class ="search" placeholder = "Search Content">
			<button type = "submit" class = "search-submit">
				<a href = "#" class ="search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
			</button>
		</div>
		{% else %}
		<div></div>
		{% endif %}
		
		<div class = "nav-links">
			{% if user.is_authenticated %}
			<a href = "{% url 'profile'  request.user.profile.slug  %}" class = "nav-link">Profile</a>
			<a href = "{% url 'account_logout' %}" class = "nav-link">Logout</a>
			{% else %}
			<a href = "{% url 'account_signup' %}" class = "nav-link">Sign Up</a>
			<a href = "{% url 'account_login' %}" class = "nav-link">Login</a>
			{% endif %}
		</div>
	</div>
</nav>