{% extends 'base.html' %}

{% block content %}
<div class = "page-container">
	<div class = "page-content">
		<div class = "main-container">
			<div>
				{% for notification in notifications %}
				<div class = "post-container post-article">
					<div class = "post-content">
						<img src = "{{notification.from_user.profile.profile_pic.url}}" class = "md-icon">

						{% if notification.notif_type == 1 %}
						{% if notification.post %}
						<form method = "POST" action = "{% url 'notif-post-redirect' notification.id notification.post.id %}">
							{% csrf_token %}
							<p>@{{notification.from_user.username}} has liked your post</p>
						
							<button type = "submit" class = "post-link remove-default-btn"></a>
						</form>
						{% elif notification.comment %}
						<form method = "POST" action = "{% url 'notif-post-redirect' notification.id notification.comment.post.id %}">
							{% csrf_token %}
						<p>@{{notification.from_user.username}} has liked your comment</p>
						<button type = "submit" class = "post-link remove-default-btn"></a>

						</form>
						{% endif %}

						{% elif notification.notif_type == 2 %}
						<form method = "POST" action = "{% url 'notif-post-redirect' notification.id notification.post.id %}">
							{% csrf_token %}

							{% if notification.post and notification.comment %}	
							<p>@{{notification.from_user.username}} replied to your comment</p>
						
							{% else %}

							<p>@{{notification.from_user.username}} commented on your post</p>
							{% endif %}

							<button type = "submit" class = "post-link remove-default-btn"></a>
						</form>

						{% elif notification.notif_type == 3 %}
						<form method = "POST" action = "{% url 'notif-profile-redirect' notification.id notification.from_user.profile.slug %}">
							{% csrf_token %}
							<p>@{{notification.from_user.username}} followed you</p>
							<button type ="submit" class = "post-link remove-default-btn">
						</form>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>

			<div></div>
		</div>
	</div>
</div>

{% endblock %}