{% extends 'base.html' %}

{% block title %}{{post.body | truncatechars:20}}{% endblock %}

{% block content %}
	{% include 'navbar.html' %}
	<div class = "page-container">
		<div class = "page-content">
			<div class = "main-container">
			<h3>
				{% if previous %}
				<a href = "{{previous}}">
				{% else %}
				<a href = "{% url 'home' %}">
				{% endif %}
				Return</a>
			</h3>
			<div class = "post-container post-article post-full">
				
					<div class = "post-content">
						<a href = "{% url 'profile' post.author.slug %}">
							<img src = "{{post.author.profile_pic.url}}" class = "small-icon">
						</a>
						<p class = "details"> {{ post.author }} <br>Posted {{post.created_on|timesince}} ago </p>
						<p class = "post-body"> {{post.body }}</p>
					</div>
					<div class = "post-footer">
						<i class="fa-regular fa-heart"></i>
						<i class="fa-regular fa-message"></i>
						<i class="fa-solid fa-share-nodes"></i>

					</div>

			</div>
			
			<div class = "comments-section post-full">
				<h3>Comments</h3>
				<hr>
			</div>
		</div>
	</div>
{% endblock %}