{% extends 'base.html' %}

{% block title %}{{post.body | truncatechars:20}}{% endblock %}

{% block content %}
	{% include 'navbar.html' %}
	<div class = "page-container">
		<div class = "page-content">
			<div class = "main-container">
			<h3>
				{% if previous %}
				<a href = "{{previous}}" class ="return-page">
				<i class="fa-solid fa-caret-left"></i> Return</a>
				{% else %}
				<a href = "{% url 'home' %}" class = "return-page">
				<i class="fa-solid fa-caret-left"></i> Home</a>
				{% endif %}
			</h3>
			<div class = "post-container post-article post-full">
				<div class = "post-content">
					<div>
						<a href = "{% url 'profile' post.author.slug %}">
							<img src = "{{post.author.profile_pic.url}}" class = "small-icon">
						</a>
					</div>
					<div class = "post-detail">
						<p class = "details"> {{ post.author }} <br>Posted {{post.created_on|timesince}} ago </p>
						
						{% if request.user.profile == post.author %}
						<div class = "flex-icons">
							<a href = "{% url 'post-edit' post.id %}"><i class="fa-solid fa-pen" title = "Edit Post"></i></a>
							<a href = "#">
							<i class="fa-regular fa-trash-can"  title = "Delete Post"></i>
							</a>
						</div>
						{% endif %}
						
					</div>
					<p class = "post-body"> {{post.body }}</p>
				</div>
				<div class = "post-footer">
					<i class="fa-regular fa-heart"></i>
					<i class="fa-regular fa-message"></i>
					<i class="fa-solid fa-share-nodes"></i>
				</div>
			</div>
			
			<div class = "comments-section post-full">
				<h3>Comments</h3>
				<hr>
			</div>
		</div>
	</div>
{% endblock %}